body {
    background-color: rgb(74, 192, 163);
}

h1{
    color : red;
}

.text{
    color : white;
}

.title{
    margin:0;
    text-align: center;
}

.title2{
    margin:0;
}

.image{
    width : 640px;
    height : 480px;
}

.button:hover{
    background-color : red;
}